/*
  Tema nuevo:
    Principal: #0D1B2A (azul oscuro)
    Secundario: #F5F5F5 (gris claro)
    terciario: #F05E23 (naranja oscuro)
    Acento 1: #C9B037 (amarillo verdoso)
    Acento 2: #D1495B (rojo oscuro)
    Acento 3: #3797A4 (verde azulado)
*/

