---
import { Image } from 'astro:assets';
import imagelo from '@/components/ui/image 206.png';
import SocialIcons from '@/components/ui/SocialIcons.astro';
---

<section
  class="my-10 flex items-start md:items-center justify-between md:flex-row flex-col-reverse"
>
  <div class="flex flex-col gap-4 md:w-[50%] w-full">
    <!-- <span class="border-2 w-28 text-center rounded-3xl"> Welcome </span> -->
    <h1 class="font-extrabold text-4xl">Ismanol García</h1>
    <p class="text-lg mt-[-15px]">
      Frontend Developer base in Dominican Republic 🇩🇴
    </p>

    <p class="leading-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad reiciendis
      sapiente et perferendis expedita natus aut aperiam assumenda nulla. Ad
      totam fugiat nostrum corrupti, incidunt voluptatibus harum excepturi
    </p>

    <SocialIcons />
  </div>
  <div class="border-4 border-black">
    <Image src={imagelo} alt="hloa" class="grayscale hover:grayscale-0" />
  </div>
</section>
