---
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar';
import Button from '../ui/Button.astro';
import Link from '../ui/Link.astro';

const links = ['projects', 'contact me', 'Blog'];
---

<header class="md:flex py-5 gap-5 w-full">
  <Astronav closeOnClick>
    <div class="flex w-full justify-between flex-col md:flex-row gap-6 md:items-center items-start">
      <div class="flex md:w-0 w-full justify-between">
        <a class="font-bold text-2xl">IG</a>
        <div class="block md:hidden">
          <MenuIcon class="w-10 h-10 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden md:flex justify-between items-center">
        <nav class="flex justify-around gap-7 flex-col md:flex-row">
          {links.map((link) => <Link href="#" title={link} typeLink="nav" />)}
        </nav>
        <div class="block md:hidden mt-10">
          <Button tipo="fill" title="Resume" href="#" />
        </div>
      </MenuItems>
      <div class="hidden md:block">
        <Button tipo="fill" title="Resume" href="#" />
      </div>
    </div>
  </Astronav>
</header>
