---
import CardProjects from '../ui/CardProjects.astro';
---

<section id="projects">
  <h2 class="font-bold text-3xl text-center mt-16">< Projects / ></h2>
  <div class="flex flex-col gap-14 mt-10">
    <CardProjects />
    <CardProjects />
  </div>
</section>
