---
import {
  Javascript,
  React,
  Nextdotjs,
  Git,
  Linux,
  Html5,
  Css3,
  Tailwindcss,
  Astro as AstroIcon,
  Chakraui,
} from 'simple-icons-astro';


---

<section>
  <h2 class="font-bold text-3xl text-center mt-16">< Skills / ></h2>
  <ul class="flex justify-between gap-4 mt-10 flex-wrap">
    <Html5 class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Css3 class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Javascript class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <AstroIcon class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <React class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Nextdotjs class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Tailwindcss class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Chakraui class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Git class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
    <Linux class="w-16 h-16 bg-stone-950 text-white p-2 rounded-md" />
  </ul>
</section>
