---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Skills from '../components/sections/Skills.astro';
---

<Layout title="Ismanol García">
  <main>
    <Hero />
    <Skills />
  </main>
</Layout>
