---
import ProfileInfo from '@/components/ProfileInfo.astro';
import Layout from '../layouts/Layout.astro';
import ProfileFacts from '@/components/ProfileFacts.astro';
import ProfileActionButton from '@/components/ProfileActionButton.astro';
import Tabs from '@/components/Tabs.astro';
---

<Layout title="Ismanol García" scrollSmooth={false}>
  <main class="container py-24 flex gap-8 flex-col">
    <ProfileInfo />
    <ProfileFacts />
    <ProfileActionButton />
    <Tabs />
  </main>
</Layout>
