---

---

<p class="text-gray-400 text-sm">
  This is some placeholder content the <strong
    class="font-medium text-white"
    >Portoflio tab's associated content</strong
  >. Clicking another tab will toggle the visibility of this one for the next.
  The tab JavaScript swaps classes to control the content visibility and
  styling.
</p>
