---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Ismanol García | Projects" scrollSmooth={false}>
  <main class="container py-24 flex gap-8 flex-col">
    <h2 class="text-white">Projects</h2>
  </main>
</Layout>
