.person {
  background-color: $primary-color;
  height: 100vh;
  @include flex(center, center, column);
  text-align: center;
}

.person__name {
  color: $secondary-color;
  font-size: 2rem;
  margin: 15px 0 10px 0;
}

.person__rol {
  color: $secondary-color;
  margin: 0 0 32px 0;
}

.person__hidden {
  display: none;
}

.person__image {
  width: 250px;
}
