.education {
  height: 100vh;
  @include flex(start, center, column);
}

.education__container {
  @include flex(center, center, row);
  gap: 80px;
  width: 100%;
}

.school {
  background-color: $accent-color-3;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

.school:hover {
  scale: 1.03;
}
.school__container {
  padding: 30px 20px;
}

.school__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: $secondary-color;
  border-radius: 15px 15px 0 0;
}
.school__name {
  font-size: 1.2rem;
  margin: 5px 0;
  font-weight: 800;
}

.school__grade {
  font-weight: 800;
  color: $primary-color;
}
.school__date {
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  .education {
    height: 100%;
    @include flex(start, center, column);
  }
  .education__container {
    @include flex(center, center, column);
    gap: 50px;
  }
  .school {
    width: 100%;
  }
}
