---
interface Props {
  title: string;
  href: string;
  typeLink: string;
}

const { href, title, typeLink } = Astro.props;
---

<a
  href={href}
  class="capitalize text-xl font-bold"
  {...typeLink === 'icon' && { target: '_blank', rel: 'noopener noreferrer' }}
>
  {
    typeLink == 'nav' && (
      <span class="link link-underline link-underline-black">{title}</span>
    )
  }
  <slot />
</a>

<style>
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline-black {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#000, #000);
  }

  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
</style>
